.wrapper {
    font-size: 1em;
}

.px {
    background-color: bisque;
    width: 200px;
}

.vw {
    background-color: cadetblue;
    width: 10vw;
}

.em {
    background-color: aqua;
    width: 10em;
}